<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167277908664-i9fk7auk8iflbj41novjp7ueigs6c23i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167277908664-i9fk7auk8iflbj41novjp7ueigs6c23i</string>
	<key>API_KEY</key>
	<string>AIzaSyCIAhM5_NYscNgnsg480HvoAXr0VDoPHDo</string>
	<key>GCM_SENDER_ID</key>
	<string>167277908664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafalpieczyk.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwait336</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwait336.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167277908664:ios:f28b20e965a6a296d01a4d</string>
</dict>
</plist>